/* You can add global styles to this file, and also import other style files */

h1{
  color: #6c757d;
}
.error-message {
  color: red;
  display: none;
}
.error {
  *{
    color: red !important;
  }
  input, select {
    border-color: red !important;
  }
  .error-message{
    display: inline-block !important;
  }
}
*:focus {
  outline: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}
select {
  background: #fff !important;
}


// loader styles
.loader {
  margin: 10px auto auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6c757d;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
